body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(242,248,246);
    font-family: verdana, arial, helvetica;
}

.Nav
{
    display: flex;
    height: 12vh;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    

    /* align-content: center;
    margin: auto;
    justify-content: center ; */

  


}
.logo  
{ 
    
    float: left;
}
.logo_name
{
    margin-left: 1rem;
}

.search
{
    height: 2rem;
    margin-top: 30px;
    margin-left: 6rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    width: 15rem;
    border: .8px solid rgb(0, 0, 0);
    
}
.search_btn
{
    
   
    border-radius: 2rem;
    outline: none;
    height: 2.3rem;
    width: 8rem;
    font-size: large;
    margin-top: 25px;
    cursor: pointer;
    background-color:rgb(9,129,74);
    color: white;
}
input::placeholder {
    font-size: 1.2em;
    font-style: bold;
  }
.LogSin
{
    
}
.login,.signup{
    border: 2px solid rgb(9,129,74);
    background-color: white;
    border-radius: 2rem;
    outline: none;
    height: 2rem;
    width: 5rem;
    font-size: large;
    margin-top: 25px;
    cursor: pointer;
}

.signuo {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(9,129,74);
  }
  
  .signup:hover {
    background-color:rgb(9,129,74);
    color: white;
  
  }



.Display
{
    display: flex;
    margin-top: 40px;

}
.Display_para h1
{
    
    margin-left: 5rem ;
    font-size: 45px;
}
.Display p{

    max-width: 27rem;
    margin-left:5rem;
}



.Dp{
    height:400px;
    width: 100%;

}
.featured{
    display:flex;
    margin-left: 10rem;
    margin-top: 8rem;
}
.first{
    flex: 30%;
    max-width: 30%;

}
.second{
    flex: 30%;
    max-width: 30%;
}
.third{
    flex: 30%;
    max-width: 30%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20rem;
    height: 24rem;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }