<!DOCTYPE html>
<html>
<body>

<h2>write blog here</h2>

<form action="/blog_write" method="POST">


<label for="username">username:</label><br>
  <input type="text" id="username" name="username" value="Doe" required><br>
  <label for="title">title:</label><br>
  <input type="text" id="title" name="title" value="Doe" required><br>
  <label for="content">content:</label><br>
  <input type="text" id="content" name="content" value="Doe" required><br>
 <label for="author">author:</label><br>
  <input type="text" id="author" name="author" value="Doe" required><br>
  
  
  <input type="submit" value="Submit">
</form> 


</body>
</html>
