<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/signin" method="POST">

  <label for="username">username:</label><br>
  <input type="text" id="lname" name="username" value="Doe" required><br>
  <label for="password">password:</label><br>
  <input type="text" id="lname" name="password" value="Doe" required><br>
  
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
