<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <nav class="header">
        <img class="logo" src="/Images/logo.svg" alt="logo">
        <h1 class="logo_name">Typoo</h1>


        <img class="profile_pic" src="/Images/cat2.png" alt="profile_pic">
       
        <p class="username"></p>

    </nav>


    
    <!-- this is the container containing the profile sectioiin and the blogs published section -->

    <div class="container">
        <div class="profile">
            <img src="/Images/Capture.PNG" alt="profile_pic" class="pro_pic">
            <div class="profile_info">
                <h1>{{uname.first_name}}</h1>
                <p>Cloud Computing || MERN Stack Development || AWS || Penetration testing || AI & ML || Virtualization||Data Science</p><br>
                <button class="edit_btn">Edit profile</button>
                
                <p>blog posted : {{uname.blogs}}</p>
                <p>Total views: 100</p>
            </div>
         <div class="sidebar_links">

                
                    <div class="list">
                     <img src="/Images/university.svg" alt="" class="list_img">
                     <p>Unibersity of Petroleum and Energy Studies</p> 
                    </div>
                    <div class="list">
                     <img src="/Images/location.svg" alt="" class="list_img">
                     <p>Kanpur - 07 Uttar-Pradesh</p> 
                    </div>
                    <div class="list">
                     <img src="/Images/email.svg" alt="" class="list_img">
                     <p>k.raman22222@gmail.com</p> 
                    </div>
                    <div class="list">
                     <img src="/Images/twitter.svg" alt="" class="list_img">
                     <p>kr-raman</p> 
                    </div>
         </div>
        </div>
        
        <div class="blog_section">
            {{#each user_blog}}
            <div class="blogs">
               
                <h4 class="topic">{{this.title}}</h4>
                
               
                <p>{{this.content}}</p>
            </div>
             {{/each}}
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
        </div>
    </div>
    <script>
    const name = document.querySelector('.username');
    name.textContent = "Raga jindal";
</script>
</body>

</html>