<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/Dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <nav class="header">
        <img class="logo" src="/public/Images/logo.svg" alt="logo">
        <h1 class="logo_name">Typoo</h1>


        <img class="profile_pic" src="/public/Images/cat2.png" alt="profile_pic">
        <form action="">
            <select id="cars" name="cars">
              <option value="">Raman kumar</option>
              <option value="Logout">Logout</option>
            </select>
            <input type="submit">
        </form>
    </nav>


    <hr>
    <!-- this is the container containing the profile sectioiin and the blogs published section -->

    <div class="container">
        <div class="profile">
            <img src="/public/Images/Capture.PNG" alt="profile_pic">
            <div class="profile_info">
                <h1>Raman Kumar</h1><br>
                <p>Cloud Computing || MERN Stack Development || AWS || Penetration testing || AI & ML || Virtualization||Data Science</p><br>
                <button class="edit_btn">Edit profile</button><br><br>
                <ul class="side_links">
                    <li><img src="/public/Images/Capture.PNG" alt=""><a href="#">Reminders</a></li>
                    <li><img src="/public/Images/Capture.PNG" alt=""><a href="#">Tasks</a></li>
                    <li><img src="/public/Images/Capture.PNG" alt=""><a href="#">Favorites</a></li>
                    <li><img src="/public/Images/Capture.PNG" alt=""><a href="#">Highlights</a></li>
                    <li><img src="/public/Images/Capture.PNG" alt=""><a href="#">Activity</a></li>
                </ul>
                <br>
                <hr>
                <br>
                <p>blog posted : 100</p>
                <p>Total views: 100</p>
            </div>
        </div>
        <hr>
        <div class="blog_section">
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
            <div class="blogs">
                <h4 class="topic">Big ass Topic nigga</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus. Optio qui, aut quasi similique alias eius totam veniam minima deserunt! Veniam officia et error dolor, rerum tempore quaerat fugit.</p>
            </div>
        </div>
    </div>
</body>

</html>